rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read, write: if true;
      match /players/{playerId} {
        allow read, write: if true;
      }
      match /guesses_public/{guessId} {
        allow read: if true;
        allow write: if false;
      }
      match /{privateCol}/{docId} {
        allow read, write: if true;
      }
    }
    match /spectators/{code} {
      allow read, write: if true;
    }
    match /users/{username} {
      allow read, write: if true;
      match /gameHistory/{gameId} {
        allow read, write: if true;
      }
    }
  }
}